[Desktop Entry]
Version=1.0
Type=Application
Name=Files
GenericName=File Manager
Comment=Browse files and folders
Exec=thunar
Icon=folder
Terminal=false
Categories=System;FileManager;
StartupNotify=true
MimeType=inode/directory;